@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-body: "Roboto Condensed", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
  --font-heading: "Playfair Display", "Times New Roman", serif;
}

body {
  @apply bg-yellow-950 text-white; 
   font-family: var(--font-body); 
}


.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  
  -webkit-font-smoothing: antialiased;
}